@model EIP.Portal.Model.HomeModel
@{

    Layout = "~/views/shared/_layout.cshtml";
}

@section head{
    <link href="~/Content/css/index.css" rel="stylesheet" />
}

    <div class="shortcut">
        <p>
            <a href="/AppCodeMaster/codeTree" target="_blank">CodeMaster配置</a>
        </p>
        <p>
            <a href="/AppConfig/list" target="_blank">AppSetting配置</a>
        </p>
        <p>
            <a href="/CountManAndWoman/list" target="_blank">CountManAndWoman</a>
        </p>
       
        <p>
            <a href="~/ActualPayment/list" target="_blank">实际回款</a>
        </p>
        <p>
            <a href="~/ContractBasicInfo/list" target="_blank">合同基本信息</a>
        </p>
        <p>
            <a href="~/RepaymentPlan/list" target="_blank">回款计划</a>
        </p>

      
    </div>



<script>

    
</script>
