
@{
    Layout = "~/views/shared/_layout.cshtml";
}
@section head{
}
<body class="easyui-layout">

    <div data-options="region:'south',title:'回款信息',split:true" style="height:200px;">
        <div style="width:50%; float:left;background:lightblue;height:100%;"> <div id="receiveMoney" class="easyui-panel">test1</div></div>
        <div style="width:50%;float:left;background:lightyellow;height:100%;"><div id="receiveMoneyPlan" class="easyui-panel">test2</div></div>
    </div>

    @*右边工具栏*@
    <div id="east" data-options="region:'east',title:'工具'" style="width:17%;">
        <input id="searchinputbox" style="width:90%;" />
        <div id="mm" style="width:60px">
            <div data-options="name:'EntryName'">项目名称</div>
            <div data-options="name:'CustomerName'">顾客名字</div>
            <div data-options="name:'Abbreviation'">项目简称</div>
        </div>
        <p> <a href="#" class="easyui-linkbutton" iconcls="icon-add" plain="true" onclick="doAddNewContract()">添加新合同信息</a> </p>
        <p> <a href="#" class="easyui-linkbutton" iconcls="icon-remove" plain="true" onclick="doDelContract()">删除选中的合同信息</a> </p>

    </div>


    <div data-options="region:'center',title:'合同信息'" style="padding:5px;background:#eee;">
        <table id="grid_contractBasicInfo"> </table>
    </div>

</body>



@*合同信息编辑页面*@
<div id="dlg_contractBasicInfo" class="easyui-dialog" title="记录项目的一些基本信息编辑" style="width: 400px; height: 400px; padding: 10px"
     data-options="iconCls:'icon-save',resizable:true,modal:true,closed:true,buttons:'#dlg_ContractBasicInfobuttons'">
    Loading...
</div>


@*信息编辑页面工具框*@
<div id="dlg_ContractBasicInfobuttons" style="padding:5px;height:auto">
    <div style="margin-bottom:5px">
        <a href="#" class="easyui-linkbutton" iconcls="icon-save" plain="true" onclick="save()">保存</a>
        <a href="#" class="easyui-linkbutton" iconcls="icon-no" plain="true" onclick="closeBox()">关闭</a>
    </div>
</div>

<script>
    //生成合同数据表
    $("#grid_contractBasicInfo").datagrid({
        title: '合同信息表',
        rownumbers: true,
        singleSelect: true,
        pagination: true,
        fit: true,
        url: 'query_contractBasicInfoWithTotalActualPayment',
        onClickRow:doOpenReceiveMoney,
        onDblClickRow: doDetailContract,
        columns: [[
            { field: 'ck', checkbox: 'true', width: 100, align: 'center'},
            { field: 'ContractGUID', title: '项目GUID', hidden: true, width: 100, align: 'center'},
            { field: 'EntryName', title: '项目名称', width: 100, align: 'center'},
            { field: 'Abbreviation', title: '项目简称', width: 100, align: 'center'},
            { field: 'ContractType', title: '合同类型', width: 100, align: 'center'},
            { field: 'CustomerName', title: '顾客名字', width: 100, align: 'center'},
            { field: 'ResponsibleDepartment', title: '甲方负责部门', width: 100, align: 'center'},
            { field: 'ContractSigningDate', title: '合同签订日期', width: 100, align: 'center' },
            { field: 'ContractAmount', title: '合同金额(元)', width: 100, align: 'center'},
            { field: 'Scale', title: '规模', width: 100, align: 'center' },
            { field: 'StartTime', title: '服务开始时间', width: 100, align: 'center'},
            { field: 'EndTime', title: '服务结束时间', width: 100, align: 'center' },
            { field: 'BelongToYear', title: '产值所属年', width: 100, align: 'center' },
            { field: 'TotalActualPayment', title: '实际回款总金额', width: 100, align: 'center' },
            { field: 'ActualPayments', title: '实际回款金额', width: 100, align: 'center', hidden: true },
            { field: 'Remarks', title: '备注', width: 100, align: 'center'},
        ]]
    });

    //加载回款项
    function doOpenReceiveMoney() {

       var row = $('#grid_contractBasicInfo').datagrid('getSelected');

       $("#receiveMoney").panel("refresh", '/ActualPayment/list?ContractGUID=' + row.ContractGUID);

        $("#receiveMoneyPlan").panel('refresh', '/RepaymentPlan/list?ContractGUID=' + row.ContractGUID);



    }




    //通过构造搜索
    $('#searchinputbox').searchbox({
        searcher: function (value, name) {
            $("#grid_contractBasicInfo").datagrid({ url: '/ContractBasicInfo/query_contractBasicInfo?key=' + name + '&value=' + value });
        },
        menu: '#mm',
        prompt: '请输入'
    });


    // 添加
    function doAddNewContract() {
        $('#dlg_contractBasicInfo').dialog("open").dialog('refresh', App.getUrl('/ContractBasicInfo/add'));
    }

    // 删除
    function doDelContract() {
        var row = $('#grid_contractBasicInfo').datagrid('getSelected');
        if (!row) {
            App.showMessageBox('@MessageManager.GetMessage("E10060")', 2);
            return false;
        }
        window.App.showConfirm('@MessageManager.GetMessage("Q10010")',
            function () {
                App.action(App.getUrl("/ContractBasicInfo/remove"), { ContractGUID: row.ContractGUID },
                function () {
                    $('#grid_contractBasicInfo').datagrid('reload');
                });
        });
    }

    // 打开编辑状态详情
    function doDetailContract() {
        var row = $('#grid_contractBasicInfo').datagrid('getSelected');
        if (row) {
            $('#dlg_contractBasicInfo').dialog("open").dialog('refresh', App.getUrl('/ContractBasicInfo/edit?ContractGUID=' + row.ContractGUID));
        }

    }
</script>

