
@{
    Layout = "~/views/shared/_layout.cshtml";
}
@section head{
}

<table id="grid_actualPayment" class="easyui-datagrid" fit="true"
       data-options="rownumbers:true,singleSelect:true,url:'/ActualPayment/loadPanel?ContractGUID=@ViewBag.contractGuid',toolbar:'#grid_ActualPaymenttoolbar',onDblClickRow:doDetailActualPaymenttool">
    <thead>
        <tr>
            <th data-options="field:'ck',checkbox:true"></th>
            
            <th data-options="field:'ActualPaymentGUID',hidden:true,width:100">ActualPaymentGUID</th>
            <th data-options="field:'ContractGUID',width:100">合同基本信息标识</th>
            <th data-options="field:'ActualPaymentDate',width:150">实际回款时间</th>
            <th data-options="field:'ActualPaymentAmount',width:100">实际回款金额</th>
            <th data-options="field:'Remarks',width:100,hidden:true">备注</th>
            <th data-options="field:'Other',width:100,hidden:true">冗余字段</th>

        </tr>
    </thead>
</table>

<div id="grid_ActualPaymenttoolbar" style="padding:5px;height:auto">
    <a href="#" class="easyui-linkbutton" iconcls="icon-add" plain="true" onclick="doAddActualPaymenttool()">添加</a>
    <a href="#" class="easyui-linkbutton" iconcls="icon-remove" plain="true" onclick="doDelActualPaymenttool()">删除</a>
    @Html.CLTextBox("Key", "", new TextBox() { Prompt = "请输入实际回款名。" })
    <a href="#" class="easyui-linkbutton" iconcls="icon-search" onclick="doSearchActualPaymenttool()">查询</a>
</div>

<div id="dlg_actualPayment" class="easyui-dialog" title="实际回款编辑" style="width: 400px; height: 400px; padding: 10px"
     data-options="iconCls:'icon-save',resizable:true,modal:true,closed:true,buttons:'#dlg_ActualPaymentbuttons'">
    Loading...
</div>

<div id="dlg_ActualPaymentbuttons" style="padding:5px;height:auto">
    <div style="margin-bottom:5px">
        <a href="#" class="easyui-linkbutton" iconcls="icon-save" plain="true" onclick="save()">保存</a>
        <a href="#" class="easyui-linkbutton" iconcls="icon-no" plain="true" onclick="closeBox()">关闭</a>
    </div>
</div>

<script>
    function doSearchActualPaymenttool() {
        $('#grid_actualPayment').datagrid('load', {
            Key: $('#Key').val()
        });
    }

    // 添加
    function doAddActualPaymenttool() {
        $('#dlg_actualPayment').dialog("open").dialog('refresh', App.getUrl('/ActualPayment/add'));
    }

    // 删除
    function doDelActualPaymenttool() {
        var row = $('#grid_actualPayment').datagrid('getSelected');
        if (!row) {
            App.showMessageBox('@MessageManager.GetMessage("E10060")', 2);
            return false;
        }

        window.App.showConfirm('@MessageManager.GetMessage("Q10010")',
            function () {
                App.action(App.getUrl("/ActualPayment/remove"), { ActualPaymentGUID: row.ActualPaymentGUID},
                function () {
                    $('#grid_actualPayment').datagrid('reload');
                });
        });


    }

    // 打开编辑状态详情
    function doDetailActualPaymenttool() {
        var row = $('#grid_actualPayment').datagrid('getSelected');
        if (row) {
            $('#dlg_actualPayment').dialog("open").dialog('refresh', App.getUrl('/ActualPayment/edit?ActualPaymentGUID=' + row.ActualPaymentGUID));
        }

    }
</script>

